gray =  #909090
darkgray =  #3c3d3e
lightgray =  #e4e4e4
darkgray =  #3f3f3f
hannah = #ea184d
darkpurple = #37283f
green = #16a085
facebook = #3b5998
darkblue = #34495e
black = #1d1d1d
blue = #2980b3
