
@media (min-width: 600px)
	.my-container
		width 580px !important
	.font1em
		font-size 21px !important
		
	.my-header-menu
		width 500px
		box-shadow 3px 3px 21px rgba(0,0,0,.35)


// @media (min-width: 900px)
// 	.column-desktop
// 		flex-direction column !important
// 	.contact form
// 		width 65%


// @media (max-width: 900px)
